/* START APP PAGE */
.container {
  font-family: "Inter var", sans-serif;
}
#navbar-burger {
  float: right;
}
a {
  text-decoration: none;
}
.auth-errors-div {
  margin-bottom: 5vh;
}
.page-header {
  text-align: center;
}
.page-title {
  color: #6366f1;
  font-size: 45px;
}

/* END APP PAGE */

/* START REGISTER PAGE */

.register-div {
  /* background-image: url("../assets/fridge.jpeg");
    background-size: cover;
    background-position: center; */
}

/* END REGISTER PAGE */

/* START FRIDGE ITEMS PAGE */

.items-view-buttons {
}

/* END FRIDGE ITEMS PAGE */
